/* Global Styles */
* {
  font-family: "Play", sans-serif;
  font-style: normal;
}

/* Body Styling */
body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

/* Text Container Styling */
.text-container {
  background-color: #9c9c9c;
}

/* Main Heading (h1) Styling */
h1 {
  margin: 0%;
  padding: 0%;
  font-weight: 700;
  font-size: 4rem;
}

/* Subheading (h2) Styling */
h2 {
  margin: 2vw;
}

.startRule {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

/* Game Rule Button Styling */
.rule {
  background-color: white;
  border: none;
  font-weight: 900;
  font-size: 1.5rem;
}

/* Game Rule Button Hover Effect */
.rule:hover {
  cursor: pointer;
}

/* General Button Styling */
.btn {
  height: 10rem;
  width: 10rem;
  border-radius: 20%;
  border: 5px solid black;
  margin: 1vw;
}

/* Button Container Styling */
.btn-container {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}

/* Button Color Classes */
.green {
  background-color: #2bd325;
}
.yellow {
  background-color: #ffe417;
}
.red {
  background-color: #ed1c24;
}
.blue {
  background-color: #355bf5;
}

/* Flash Effects */
.flash {
  background-color: white;
}
.userFlash {
  background-color: #000000;
}

/* Hide Audio Controls */
audio {
  display: none;
}
